<!-- <div class="sm:mt-5 max-h-[400px] overflow-auto p-5">
  <ul
    class="divide-y divide-gray-200 dark:divide-gray-700"
    *ngFor="let user of users"
  >
    <li class="pb-3 sm:pb-4 mt-5">
      <div class="flex items-center space-x-4 rtl:space-x-reverse">
        <div class="flex-shrink-0">
          <img
            class="w-8 h-8 rounded-full"
            src="https://upload.wikimedia.org/wikipedia/commons/a/af/Default_avatar_profile.jpg"
            [alt]="user.firstName + ' profile'"
          />
        </div>
        <div class="flex-1 min-w-0 max-w-[200px]">
          <p class="text-sm font-medium text-gray-900 truncate">
            {{ user.firstName }} {{ user.lastName }}
          </p>
          <p class="text-sm text-gray-500 truncate">
            {{ user.designationName }}
          </p>
        </div>
        <div
          class="inline-flex items-center text-base font-semibold text-gray-900"
        ></div>
      </div>
    </li>
    <hr class="w-full"/>
  </ul>
</div> -->

<div
  class="w-full mt-10 p-4 max-h-[400px] overflow-y-auto bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flex items-center justify-between mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
      Detected Employees
    </h5>
  </div>
  <div class="flow-root">
    <ul
      role="list"
      class="divide-y divide-gray-200 dark:divide-gray-700"
      *ngFor="let user of users"
    >
      <li class="py-3 sm:py-4">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img
              class="w-8 h-8 rounded-full"
              [src]="'data:image/jpeg;base64,' + user.profilePic"
              alt="Neil image"
            />
          </div>
          <div class="flex-1 min-w-0 ms-4">
            <p
              class="text-sm font-medium text-gray-900 truncate dark:text-white"
            >
              {{ user.firstName }} {{ user.lastName }}
            </p>
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
              {{ user.designationName }}
            </p>
          </div>
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white ml-5"
          >
            {{ user.checkType }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
