absl-py
annotated-types
anyio
click
colorama
face-recognition
face_recognition_models
fastapi
h11
h5py
idna
Jinja2
keras
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
opencv-python
optree
packaging
pillow
pydantic
pydantic_core
Pygments
pyodbc
python-multipart
rich
setuptools
sniffio
starlette
typing_extensions
uvicorn
requests